.star-icon {
    color: #ff9e00;
    margin: 0px 5px;
}

.thumbs-up {
    margin: 0px 5px;
    color: #fafafa;
}

.film-icon {
    margin: 0px 5px;
    color: rgba(101,213,214);
}

.calendar-icon {
    margin: 0px 5px;
    color: peachpuff;
}

.movie-section {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px;
    font-weight: 400;
    width: 100%;
}

.movie-rating {
    display: flex;
    padding-left: 3px;
    margin-top: 40px;
}

.movie-rating span {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.movie-title {
    font-size: 40px;
}

.movie-plot{
    margin-top: 20px;
    line-height: 1.8rem;
}

.movie-info div span:first-child {
    padding: 10px 0px;
    font-weight: 600;
    width: 100px;
    display: inline-block;
    color: white;
}

.section-right {
    margin-left: 10px;
}
