.header{
    height: 72px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 23px;
    font-weight: 500;
}

.user-image,
.user-image img {
    width: 38px;
    height: 38px;
}