.loader {
    border-radius: 50%;
    border: 16px solid #1a242f;
    border-top: 16px solid #79b8f3;
    height:120px;
    width: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}